<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Juego-Servle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlets_conex</display-name>
    <servlet-name>Servlets_conex</servlet-name>
    <servlet-class>controller.Servlets_conex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlets_conex</servlet-name>
    <url-pattern>/Servlets_conex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Cartas</display-name>
    <servlet-name>Servlet_Cartas</servlet-name>
    <servlet-class>controller.Servlet_Cartas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Cartas</servlet-name>
    <url-pattern>/Servlet_Cartas</url-pattern>
  </servlet-mapping>
</web-app>