@charset "ISO-8859-1";
body {
  background-image: url('Pictures/Fondo inicio.jpg'); /* Cambia 'imagen-de-fondo.jpg' por el nombre real de tu archivo de imagen */
  background-size: cover; /* Esto harï¿½ que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la pï¿½gina */
  display: flex; /* Habilita Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0; /* Elimina los márgenes predeterminados */
}


.Botones{
  display: flex;
  flex-direction: column; /* Alinea los elementos (botones) verticalmente */
  align-items: center; /* Centra los elementos (botones) horizontalmente en el contenedor .Botones */
  
}

.ImgBotones{
  background-image: url('Pictures/boton inicio.png'); /* Cambia 'imagen-de-fondo.jpg' por el nombre real de tu archivo de imagen */
  background-size: cover; /* Esto harï¿½ que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en la pï¿½gina */
  background-color: transparent;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  padding: 20px 30px; /* Ajusta el tamaño del botón mediante el relleno */
  font-size: 30px;
}