@charset "ISO-8859-1";



.tablero{
	display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa todo el alto de la ventana */
    width: 100vw;
}

/*.tablero > div {
	flex: 1; /* Hace que cada div hijo ocupe el mismo espacio 
	display: flex;
	justify-content: center; /* Centra horizontalmente 
	align-items: center; /* Centra verticalmente 
}*/

#Equipos{
	flex:7;
	display: flex;
	
}

.Puntaje{
	flex:3;
	display:flex;
}
.Equipo1, .Equipo2 {
	flex: 7; /* Esto hace que ambos contenedores tomen la misma cantidad de espacio disponible */
    display: flex; /* Activa Flexbox para estos contenedores también, si necesitas más control interno */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column;
    /*)width: 600px;*/
}

.btn-cartas{
    width: 100px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}



#Mazo{
    display: flex;
    flex-direction: row;
    background-color: red;		

}


#Zona1{
	display: flex;
	background-image: url('Pictures/equipo 1.png');
	background-size: cover; /* Esto harï¿½ que la imagen cubra todo el fondo */
	background-position: center; /* Centra la imagen en la pï¿½gina */
	justify-content: center; /* Centra horizontalmente */
  	align-items: center; /* Centra verticalmente */
  	height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
	flex-direction: column;
	background-color: red;
	width: 100%;
}
	

#Zona2{
	display: flex;
	background-image: url('Pictures/equipo 2.png');
	background-size: cover; /* Esto harï¿½ que la imagen cubra todo el fondo */
	background-position: center; /* Centra la imagen en la pï¿½gina */
	justify-content: center; /* Centra horizontalmente */
  	align-items: center; /* Centra verticalmente */
  	height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
	flex-direction: column;
	background-color: red;
	width: 100%;
}