@charset "ISO-8859-1";
body {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.contenedor-principal {
    display: flex;
    justify-content: space-between; /* Alinea a los hijos a los extremos */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.Equipo1, .Equipo2 {
	flex: 1; /* Esto hace que ambos contenedores tomen la misma cantidad de espacio disponible */
    display: flex; /* Activa Flexbox para estos contenedores también, si necesitas más control interno */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: row;
    /*)width: 600px;*/
}

.Equipo1 button, .Equipo2 button {
    width: 200px;
    height: 100px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.Equipo1{
	text-align: left;
	justify-content: flex-start;
}
.Equipo2{
	text-align: right;
	justify-content: flex-end;
}
#Mazo1{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los botones al centro del #Mazo1 */
    background-color: red;
}

#Mazo2{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los botones al centro del #Mazo1 */
    background-color: blue;
}

#Zona1{
	display: flex;
	background-image: url('Pictures/equipo 1.png');
	background-size: cover; /* Esto harï¿½ que la imagen cubra todo el fondo */
	background-position: center; /* Centra la imagen en la pï¿½gina */
	justify-content: center; /* Centra horizontalmente */
  	align-items: center; /* Centra verticalmente */
  	height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
	flex-direction: column;
	background-color: red;
	width: 100%;	
}
	

#Zona2{
	display: flex;
	background-image: url('Pictures/equipo 2.png');
	background-size: cover; /* Esto harï¿½ que la imagen cubra todo el fondo */
	background-position: center; /* Centra la imagen en la pï¿½gina */
	justify-content: center; /* Centra horizontalmente */
  	align-items: center; /* Centra verticalmente */
  	height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
	flex-direction: column;
	background-color: red;
	width: 100%;
}